@import "css_global_variables.css";

.nav-menu-container {
    display: flex;
    font-size: var(--nav-menu-button-font-size);
}

.nav-logo {
    padding: 0.5em;
    flex: 1;
}

.nav-menu-button-container{
    flex: 9;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-menu-button {
    padding: var(--nav-menu-button-padding);
    margin-left: var(--nav-menu-button-margin-left);
    margin-right: var(--nav-menu-button-margin-right);
}