@import "../css_global_variables.css";
@import "../navigation_menu.css";
@import "../footer.css";
@import "./project_panel.css";
@import "./project_template.css";

#problem-block {
    display: flex;
    flex-direction: row;
}

#problem-text {
    flex: 3;
}

#problem-image {
    flex: 1;
}

#homepage-screen-container, #search-screen-container, 
#project-list-screen-container, #project-details-screen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.screen-container {
    overflow-y: auto;
    height: 41vw;
    width: 19vw;
    margin-inline: 2.5vw;
    border: 0.1em solid var(--fig-border-color);
    border-radius: 2.5em;
}

.sliding-image {
    width: 19vw;
    background-size: contain;
    background-repeat: no-repeat;
}

#fig3, #fig4, #fig5, #fig6, #fig7, #fig17, #fig18, #fig19 {
    margin-inline: auto;
    display: block;
    border: 0.1em solid var(--fig-border-color);
}

#fig1 {
    content: url(../../assets/projects/digital_product_design/Fig1.png);
    height: 28vw;
    margin-inline: auto;
    display: block;
}

#fig2 {
    background-image: url("../../assets/projects/digital_product_design/Fig2.png");
}

#fig3 {
    content: url(../../assets/projects/digital_product_design/Fig3.png);
    max-width: 60vw;
}

#fig4 {
    content: url(../../assets/projects/digital_product_design/Fig4.png);
    max-width: 60vw;
}

#fig5 {
    content: url(../../assets/projects/digital_product_design/Fig5.png);
    max-width: 60vw;
}

#fig6 {
    content: url(../../assets/projects/digital_product_design/Fig6.png);
    max-width: 60vw;
}

#fig7 {
    content: url(../../assets/projects/digital_product_design/Fig7.png);
    max-width: 60vw;
}

#fig8 {
    background-image: url("../../assets/projects/digital_product_design/Fig8.png");
    height: 114vw;
}

#fig9 {
    background-image: url("../../assets/projects/digital_product_design/Fig9.png");
    height: 78vw;
}

#fig10 {
    background-image: url("../../assets/projects/digital_product_design/Fig10.png");
    height: 41vw;
}

#fig11 {
    background-image: url("../../assets/projects/digital_product_design/Fig11.png");
    height: 41vw;
}

#fig12 {
    background-image: url("../../assets/projects/digital_product_design/Fig12.png");
    height: 41vw;
}

#fig13 {
    background-image: url("../../assets/projects/digital_product_design/Fig13.png");
    height: 96.75vw;
}

#fig14 {
    background-image: url("../../assets/projects/digital_product_design/Fig14.png");
    height: 77.5vw;
}

#fig15 {
    background-image: url("../../assets/projects/digital_product_design/Fig15.png");
    height: 77.5vw;
}

#fig16 {
    background-image: url("../../assets/projects/digital_product_design/Fig16.png");
    height: 145vw;
}

#fig17 {
    content: url(../../assets/projects/digital_product_design/Fig17.png);
    max-width: 60vw;
}

#fig18 {
    content: url(../../assets/projects/digital_product_design/Fig18.png);
    max-width: 60vw;
}

#fig19 {
    content: url(../../assets/projects/digital_product_design/Fig19.png);
    max-width: 60vw;
}

#fig20 {
    content: url(../../assets/projects/digital_product_design/Fig20.png);
    height: 30vw;
    margin-inline: auto;
    display: block;
}