@import "../css_global_variables.css";
@import "../navigation_menu.css";
@import "../footer.css";
@import "./project_panel.css";
@import "./project_template.css";

#problem-block {
    display: flex;
    flex-direction: row;
}

#problem-text {
    flex: 3;
}

#problem-image {
    flex: 1;
}

#fig3, #fig4, #fig5 {
    margin-inline: auto;
    display: block;
    border: 0.1em solid var(--fig-border-color);
}

#fig1 {
    content: url(../../assets/projects/digital_product_design/Fig1.png);
    height: 28vw;
    margin-inline: auto;
    display: block;
}

#fig2 {
    background-image: url("../../assets/projects/digital_product_design/Fig2.png");
}

#fig3 {
    content: url(../../assets/projects/digital_product_design/Fig3.png);
    max-width: 60vw;
}

#fig4 {
    content: url(../../assets/projects/digital_product_design/Fig4.png);
    max-width: 60vw;
}

#fig5 {
    content: url(../../assets/projects/digital_product_design/Fig5.png);
    max-width: 60vw;
}