@import "../css_global_variables.css";
@import "../navigation_menu.css";
@import "../footer.css";
@import "./project_panel.css";
@import "./project_template.css";

#problem-block {
    display: flex;
    flex-direction: row;
}

#problem-text {
    flex: 3;
}

#problem-image {
    flex: 1;
}

#homepage-screen-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#fig3, #fig4, #fig5, #fig6, #fig7 {
    margin-inline: auto;
    display: block;
    border: 0.1em solid var(--fig-border-color);
}

.screen-container {
    overflow: hidden;
    height: 37vw;;
    width: 19vw;
    margin-inline: 2.5vw;
    border: 0.1em solid var(--fig-border-color);
}

.sliding-image {
    width: 19vw;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

#fig1 {
    content: url(../../assets/projects/digital_product_design/Fig1.png);
    height: 28vw;
    margin-inline: auto;
    display: block;
}

#fig2 {
    background-image: url("../../assets/projects/digital_product_design/Fig2.png");
}

#fig3 {
    content: url(../../assets/projects/digital_product_design/Fig3.png);
    max-width: 60vw;
}

#fig4 {
    content: url(../../assets/projects/digital_product_design/Fig4.png);
    max-width: 60vw;
}

#fig5 {
    content: url(../../assets/projects/digital_product_design/Fig5.png);
    max-width: 60vw;
}

#fig6 {
    content: url(../../assets/projects/digital_product_design/Fig6.png);
    max-width: 60vw;
}

#fig7 {
    content: url(../../assets/projects/digital_product_design/Fig7.png);
    max-width: 60vw;
}

#fig8 {
    background-image: url(../../assets/projects/digital_product_design/Fig8.png);
}

#fig9 {
    background-image: url(../../assets/projects/digital_product_design/Fig9.png);
}