@import "../css_global_variables.css";
@import "./project_panel.css";
@import "./project_template.css";

#client-duration-container, #team-container, #all-tools-container {
    display: flex;
    flex-direction: row;
}

#client-text, #duration-text, #team-text, #all-tools-text {
    margin-left: 1em;
    margin-right: 3em;
    font-family: var(--font-text-project);
}

#about-fig-3-4-container, #about-fig-5-6-7-container, #data-collection-fig-8-9-container, 
#data-collection-fig-11-12-container, #info-arch-fig-18-19-container, 
#info-arch-fig-20-21-container, #solution-synthesis-fig-24-25-container, 
#solution-synthesis-fig-26-27-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#info-arch-fig-18-19-container, #info-arch-fig-20-21-container {
    margin-block: 1em;
}

#fig1 {
    background-image: url("../../assets/projects/information_arch/Fig1.png");
}

#fig2 {
    background-image: url("../../assets/projects/information_arch/Fig2.png");
}

#fig3 {
    background-image: url("../../assets/projects/information_arch/Fig3.png");
}

#fig4 {
    background-image: url("../../assets/projects/information_arch/Fig4.png");
}

#fig5 {
    background-image: url("../../assets/projects/information_arch/Fig5.png");
}

#fig6 {
    background-image: url("../../assets/projects/information_arch/Fig6.png");
}

#fig7 {
    background-image: url("../../assets/projects/information_arch/Fig7.png");
}

#fig8 {
    background-image: url("../../assets/projects/information_arch/Fig8.png");
}

#fig9 {
    background-image: url("../../assets/projects/information_arch/Fig9.png");
}

#fig10 {
    background-image: url("../../assets/projects/information_arch/Fig10.png");
}

#fig11 {
    background-image: url("../../assets/projects/information_arch/Fig11.png");
}

#fig12 {
    background-image: url("../../assets/projects/information_arch/Fig12.png");
}

#fig13 {
    background-image: url("../../assets/projects/information_arch/Fig13.png");
}

#fig14 {
    background-image: url("../../assets/projects/information_arch/Fig14.png");
}

#fig15 {
    background-image: url("../../assets/projects/information_arch/Fig15.png");
}

#fig16 {
    background-image: url("../../assets/projects/information_arch/Fig16.png");
}

#fig17 {
    background-image: url("../../assets/projects/information_arch/Fig17.png");
}

#fig18 {
    background-image: url("../../assets/projects/information_arch/Fig18.png");
}

#fig19 {
    background-image: url("../../assets/projects/information_arch/Fig19.png");
}

#fig20 {
    background-image: url("../../assets/projects/information_arch/Fig20.png");
}

#fig21 {
    background-image: url("../../assets/projects/information_arch/Fig21.png");
}

#fig22 {
    background-image: url("../../assets/projects/information_arch/Fig22.png");
}

#fig23 {
    background-image: url("../../assets/projects/information_arch/Fig23.png");
}

#fig24 {
    background-image: url("../../assets/projects/information_arch/Fig24.png");
}

#fig25 {
    background-image: url("../../assets/projects/information_arch/Fig25.png");
}

#fig26 {
    background-image: url("../../assets/projects/information_arch/Fig26.png");
}

#fig27 {
    background-image: url("../../assets/projects/information_arch/Fig27.png");
}