@import "../css_global_variables.css";

.project-h1 {
    font-family: var(--font-h1);
    font-size: var(--font-h1-size);
}

.project-text {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
}
