@import "../css_global_variables.css";
@import "./project_panel.css";
@import "./project_template.css";

/* body {
    background-color: white;
}

#project-piece-container {
    max-width: 82vw;
    margin-inline: auto;
    background-color: var(--project-container-background-color);
}

.project-title {
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    margin-block: var(--title-margin-block);
    margin-left: var(--title-margin-left);
}

.project-h1 {
    font-family: var(--font-h1);
    font-size: var(--font-h1-size);
    margin-block: var(--h1-margin-block);
    margin-left: var(--h1-margin-left);
}

.project-h2 {
    font-family: var(--font-h2);
    font-size: var(--font-h2-size);
    margin-top: var(--h2-margin-top);
    margin-bottom: var(--h2-margin-bot);
    margin-left: var(--h2-margin-left);
}

.project-text {
    font-family: var(--font-text-project);
    font-size: var(--font-text-size);
    margin-top: var(--text-margin-top);
    margin-bottom: var(--text-margin-bot);
    margin-left: var(--text-margin-left);
    margin-right: var(--text-margin-right);
    line-height: var(--text-line-height);
}

.project-figs1 {
    width: 55vw;
    height: 29vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs2 {
    width: 50vw;
    height: 33vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
} */

#prototype-fig-6-7-container, #prototype-fig-10-11-container, #prototype-fig-15-16-container, #prototype-fig-23-24-container, #prototype-fig-25-26-container, #prototype-fig-27-28-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .project-figs3 {
    width: 35vw;
    height: 30vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs4 {
    width: 40vw;
    height: 30vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs5 {
    width: 23vw;
    height: 28vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs6 {
    width: 28vw;
    height: 16vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs1-caption {
    margin-inline: auto;
    font-family: var(--font-caption);
    font-size: var(--font-caption-size);
    margin-top: var(--caption-margin-top);
    margin-bottom: var(--caption-margin-bot);
    text-align: center;
} */

#fig-11-container {
    margin-block: auto;
}

#fig1 {
    background-image: url("../../assets/projects/interactive_viz/Fig1.png");
}

#fig2 {
    background-image: url("../../assets/projects/interactive_viz/Fig2.png");
}

#fig3 {
    background-image: url("../../assets/projects/interactive_viz/Fig3.png");
}

#fig4 {
    background-image: url("../../assets/projects/interactive_viz/Fig4.png");
}

#fig5 {
    background-image: url("../../assets/projects/interactive_viz/Fig5.png");
}

#fig6 {
    background-image: url("../../assets/projects/interactive_viz/Fig6.png");
}

#fig7 {
    background-image: url("../../assets/projects/interactive_viz/Fig7.png");
}

#fig8 {
    background-image: url("../../assets/projects/interactive_viz/Fig8.png");
}

#fig9 {
    background-image: url("../../assets/projects/interactive_viz/Fig9.png");
}

#fig10 {
    background-image: url("../../assets/projects/interactive_viz/Fig10.png");
}

#fig11 {
    background-image: url("../../assets/projects/interactive_viz/Fig11.png");
}

#fig12 {
    background-image: url("../../assets/projects/interactive_viz/Fig12.png");
}

#fig13 {
    background-image: url("../../assets/projects/interactive_viz/Fig13.png");
}

#fig14 {
    background-image: url("../../assets/projects/interactive_viz/Fig14.png");
}

#fig15 {
    background-image: url("../../assets/projects/interactive_viz/Fig15.png");
}

#fig16 {
    background-image: url("../../assets/projects/interactive_viz/Fig16.png");
}

#fig17 {
    background-image: url("../../assets/projects/interactive_viz/Fig17.png");
}

#fig18 {
    background-image: url("../../assets/projects/interactive_viz/Fig18.png");
}

#fig19 {
    background-image: url("../../assets/projects/interactive_viz/Fig19.png");
}

#fig20 {
    background-image: url("../../assets/projects/interactive_viz/Fig20.png");
}

#fig21 {
    background-image: url("../../assets/projects/interactive_viz/Fig21.png");
}

#fig22 {
    background-image: url("../../assets/projects/interactive_viz/Fig22.png");
}

#fig23 {
    background-image: url("../../assets/projects/interactive_viz/Fig23.png");
}

#fig24 {
    background-image: url("../../assets/projects/interactive_viz/Fig24.png");
}

#fig25 {
    background-image: url("../../assets/projects/interactive_viz/Fig25.png");
}

#fig26 {
    background-image: url("../../assets/projects/interactive_viz/Fig26.png");
}

#fig27 {
    background-image: url("../../assets/projects/interactive_viz/Fig27.png");
}

#fig28 {
    background-image: url("../../assets/projects/interactive_viz/Fig28.png");
}