@import "../css_global_variables.css";

body {
    background-color: #efefef;
}

#project-piece-container {
    max-width: 82vw;
    margin-inline: auto;
    background-color: var(--project-container-background-color);
}

.project-h1 {
    font-family: var(--font-h1);
    font-size: var(--font-h1-size);
    margin-block: var(--h1-margin);
}

.project-text {
    font-family: var(--font-text);
    font-size: var(--font-text-size);
    margin-block: var(--text-margin-block);
    margin-left: var(--text-margin-left);
    margin-right: var(--text-margin-right);
}

.project-figs1 {
    width: 55vw;
    height: 29vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs2 {
    width: 50vw;
    height: 33vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs1-caption {
    margin-inline: auto;
    font-family: var(--font-caption);
    font-size: var(--font-caption-size);
    margin-top: var(--caption-margin-top);
    margin-bottom: var(--caption-margin-bot);
    text-align: center;
}

#fig1 {
    background-image: url("../../assets/projects/interactive_viz/Fig1.png");
}

#fig2 {
    background-image: url("../../assets/projects/interactive_viz/Fig2.png");
}

#fig3 {
    background-image: url("../../assets/projects/interactive_viz/Fig3.png");
}

#fig4 {
    background-image: url("../../assets/projects/interactive_viz/Fig4.png");
}

#fig5 {
    background-image: url("../../assets/projects/interactive_viz/Fig5.png");
}