@import "../css_global_variables.css";

body {
    /* background-color: #efefef; */
    background-color: white;
}

#project-piece-container {
    max-width: 82vw;
    margin-inline: auto;
    background-color: var(--project-container-background-color);
}

.project-title {
    font-family: var(--font-title);
    font-size: var(--font-title-size);
    margin-block: var(--title-margin-block);
    margin-left: var(--title-margin-left);
}

.project-h1 {
    font-family: var(--font-h1);
    font-size: var(--font-h1-size);
    margin-block: var(--h1-margin-block);
    margin-left: var(--h1-margin-left);
}

.project-h2 {
    font-family: var(--font-h2);
    font-size: var(--font-h2-size);
    margin-top: var(--h2-margin-top);
    margin-bottom: var(--h2-margin-bot);
    margin-left: var(--h2-margin-left);
}

.project-h3 {
    font-family: var(--font-h3);
    font-size: var(--font-h3-size);
    margin-top: var(--h3-margin-top);
    margin-bottom: var(--h3-margin-bot);
    margin-left: var(--h3-margin-left);
}

.project-text {
    font-family: var(--font-text-project);
    font-size: var(--font-text-size);
    margin-top: var(--text-margin-top);
    margin-bottom: var(--text-margin-bot);
    margin-left: var(--text-margin-left);
    margin-right: var(--text-margin-right);
    line-height: var(--text-line-height);
}

.project-figs1 {
    width: 55vw;
    height: 29vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs2 {
    width: 50vw;
    height: 33vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}


.project-figs3 {
    width: 35vw;
    height: 30vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs4 {
    width: 40vw;
    height: 30vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs5 {
    width: 23vw;
    height: 28vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs6 {
    width: 28vw;
    height: 16vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs7 {
    width: 73vw;
    height: 27vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs8 {
    width: 15vw;
    height: 15vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs9 {
    width: 32vw;
    height: 16vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs10 {
    width: 30vw;
    height: 31vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs11 {
    width: 55vw;
    height: 30vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs12 {
    width: 63vw;
    height: 28vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs13 {
    width: 60vw;
    height: 28vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs14 {
    width: 60vw;
    height: 35vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs15 {
    width: 78vw;
    height: 31vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs16 {
    width: 42vw;
    height: 16vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs17 {
    width: 36vw;
    height: 28vw;
    border: 0.1em solid var(--fig-border-color);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline: auto;
}

.project-figs1-caption {
    margin-inline: auto;
    font-family: var(--font-caption);
    font-size: var(--font-caption-size);
    margin-top: var(--caption-margin-top);
    margin-bottom: var(--caption-margin-bot);
    text-align: center;
}