@import "../css_global_variables.css";
@import "../navigation_menu.css";
@import "../footer.css";
@import "./project_panel.css";
@import "./project_template.css";

#introduction {
    background-color: var(--bg-color-34); /*1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 34, 35*/
    padding: 0.5em;
    border: 1em solid var(--bg-border-1);
}

#dataset {
    background-color: var(--bg-color-4);
    padding: 0.5em;
    border: 1em solid var(--bg-border-1);
}

#database-design {
    background-color: var(--bg-color-11);
    padding: 0.5em;
    border: 1em solid var(--bg-border-1);
}

#web-interface-design {
    background-color: var(--bg-color-34);
    padding: 0.5em;
    border: 1em solid var(--bg-border-1);
}

#backend-development {
    background-color: var(--bg-color-2);
    padding: 0.5em;
    border: 1em solid var(--bg-border-1);
}

#try-it-yourself {
    background-color: var(--bg-color-11);
    padding: 0.5em;
    border: 1em solid var(--bg-border-1);
}

#web-interface-design-fig-5-6-container, 
#web-interface-design-fig-7-8-container,
#web-interface-design-fig-9-11-container,
#backend-development-fig-12-13-container,
#backend-development-fig-14-15-container,
#backend-development-fig-16-17-container,
#backend-development-fig-18-20-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    border: 0.1em solid var(--fig-border-color);
    padding: 0.75em;
    width: 60vw;
    margin-inline: auto;
}

#web-interface-design-fig-5-6-container .fig-image,
#web-interface-design-fig-7-8-container .fig-image,
#web-interface-design-fig-9-11-container .fig-image,
#backend-development-fig-12-13-container .fig-image,
#backend-development-fig-14-15-container .fig-image,
#backend-development-fig-16-17-container .fig-image,
#backend-development-fig-18-20-container .fig-image {
    margin-inline: 1em;
}

#web-interface-design-fig-5-6-container .fig-image:first-child,
#web-interface-design-fig-7-8-container .fig-image:first-child,
#web-interface-design-fig-9-11-container .fig-image:first-child,
#backend-development-fig-12-13-container .fig-image:first-child,
#backend-development-fig-14-15-container .fig-image:first-child,
#backend-development-fig-16-17-container .fig-image:first-child,
#backend-development-fig-18-20-container .fig-image:first-child {
    margin-left: auto;
}

#web-interface-design-fig-5-6-container .fig-image:last-child,
#web-interface-design-fig-7-8-container .fig-image:last-child,
#web-interface-design-fig-9-11-container .fig-image:last-child,
#backend-development-fig-12-13-container .fig-image:last-child,
#backend-development-fig-14-15-container .fig-image:last-child,
#backend-development-fig-16-17-container .fig-image:last-child,
#backend-development-fig-18-20-container .fig-image:last-child {
    margin-right: auto;
}

#fig1, #fig2, #fig3, #fig4, #fig5, #fig6, #fig7, #fig8, #fig9, #fig10, 
#fig11, #fig12, #fig13, #fig14, #fig15, #fig16, #fig17 {
    margin-inline: auto;
    display: block;
    border: 0.1em solid var(--fig-border-color);
}

.test-credentials {
    min-width: 20vw;
    margin-block: auto;
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 0.25em;
    text-align: center;
    margin-inline: 0.25em;
    font-family: var(--font-text);
    background-color: var(--tag-background-color-1);
    color: var(--tag-background-color-1);
    transition: color 0.5s ease;
}

.test-credentials:hover {
    min-width: 20vw;
    margin-block: auto;
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 0.25em;
    text-align: center;
    margin-inline: 0.25em;
    font-family: var(--font-text);
    background-color: var(--tag-background-color-1);
    color: var(--tag-font-color-2);
}

#fig1 {
    content: url(../../assets/projects/web_development/Fig1.png);
    max-width: 60vw;
}

#fig2 {
    content: url(../../assets/projects/web_development/Fig2.png);
    max-width: 50vw;
}

#fig3 {
    content: url(../../assets/projects/web_development/Fig3.png);
    max-width: 60vw;
}

#fig4 {
    content: url(../../assets/projects/web_development/Fig4.png);
    max-width: 60vw;
}

#fig5 {
    content: url(../../assets/projects/web_development/Fig5.png);
    max-width: 50vw;
}

#fig6 {
    content: url(../../assets/projects/web_development/Fig6.png);
    max-width: 50vw;
}

#fig7 {
    content: url(../../assets/projects/web_development/Fig7.png);
    max-width: 50vw;
}

#fig8 {
    content: url(../../assets/projects/web_development/Fig8.png);
    max-width: 50vw;
}

#fig9 {
    content: url(../../assets/projects/web_development/Fig9.png);
    max-width: 50vw;
}

#fig10 {
    content: url(../../assets/projects/web_development/Fig10.png);
    max-width: 50vw;
}

#fig11 {
    content: url(../../assets/projects/web_development/Fig11.png);
    max-width: 50vw;
}

#fig12 {
    content: url(../../assets/projects/web_development/Fig12.png);
    max-width: 40vw;
}

#fig13 {
    content: url(../../assets/projects/web_development/Fig13.png);
    max-width: 40vw;
}

#fig14 {
    content: url(../../assets/projects/web_development/Fig14.png);
    max-width: 40vw;
}

#fig15 {
    content: url(../../assets/projects/web_development/Fig15.png);
    max-width: 40vw;
}

#fig16 {
    content: url(../../assets/projects/web_development/Fig16.png);
    max-width: 40vw;
}

#fig17 {
    content: url(../../assets/projects/web_development/Fig17.png);
    max-width: 40vw;
}

#fig18 {
    content: url(../../assets/projects/web_development/Fig18.png);
    max-width: 40vw;
}

#fig19 {
    content: url(../../assets/projects/web_development/Fig19.png);
    max-width: 40vw;
}

#fig20 {
    content: url(../../assets/projects/web_development/Fig20.png);
    max-width: 40vw;
}