@import "./navigation_menu.css";
@import "./footer.css";

@media (min-width: 1200px) {

    .about-intro-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: var(--font-text);
    }
    
    #profile-picture-container {
        flex: 2;
    }
    
    #profile-picture {
        border: 0.1em solid black;
        border-radius: 50%;
        width: 25vw;
        height: 25vw;
        margin-left: auto;
        margin-right: 10%;
        background: url(../assets/account/profile-pic.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #intro-text-container {
        flex: 3;
    }
    
    #intro-text {
        font-size: 1.25em;
        margin-left: 10%;
        margin-right: 30%;
        margin-top: 10%;
    }
    
    #intro-detail {
        font-size: 11pt;
    }

    .contact-button{
        border: 0.08em solid black;
        padding: 0.5em;
        margin: 1em;
        font-size: var(--page-button-font-size);
        background: var(--primary-background-color-2);
        border-radius: 0.5rem;
        /* box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                    -6px -6px 10px rgba(255, 255, 255, .5),
                    6px 6px 8px rgba(255, 255, 255, .075),
                    6px 6px 10px rgba(0, 0, 0, .15); */
    }

}

@media (max-width: 1199px) {

    .about-intro-container {
        display: flex;
        flex-direction: column;
        font-family: var(--font-text);
    }
    
    #profile-picture-container {
        flex: 1;
    }
    
    #profile-picture {
        border: 0.1em solid black;
        border-radius: 50%;
        width: 60vw;
        height: 60vw;
        margin-inline: auto;
        background: url(../assets/account/profile-pic.jpg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #intro-text-container {
        flex: 1;
    }
    
    #intro-text {
        font-size: 1.25em;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 10%;
    }
    
    #intro-detail {
        font-size: 11pt;
    }

    .contact-button{
        border: 0.08em solid black;
        padding: 0.5em;
        margin: 1em;
        font-size: var(--page-button-font-size);
        background: var(--primary-background-color-2);
        border-radius: 0.5rem;
        /* box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                    -6px -6px 10px rgba(255, 255, 255, .5),
                    6px 6px 8px rgba(255, 255, 255, .075),
                    6px 6px 10px rgba(0, 0, 0, .15); */
    }

}

body {
    background-color: var(--primary-background-color-2);
}

h2 {
    text-align: center;
    font-size: var(--site-page-font-size-h2);
    margin-bottom: var( --site-page-margin-bot-h2);
    font-family: var(--font-accent);
    color: var(--color-h2);
}

.contact-buttons-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-inline: auto;
    font-family: var(--font-button);
}

.contact-links {
    text-decoration: none;
    color: black;
}

.contact-button:hover {
    border-color: var(--accent-color-1);
    color: var(--color-4);
    /* box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                -2px -2px 4px rgba(255, 255, 255, .4),
                2px 2px 2px rgba(255, 255, 255, .05),
                2px 2px 4px rgba(0, 0, 0, .1); */
}

.contact-button:active {
    border-color: var(--accent-color-1);
    color: var(--color-4);
    /* box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset -2px -2px 4px rgba(255, 255, 255, .5),
                inset 2px 2px 2px rgba(255, 255, 255, .075),
                inset 2px 2px 4px rgba(0, 0, 0, .15); */
}