@font-face {
    font-family: "Gotham Bold";
    src: url("../assets/fonts/Gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Light";
    src: url("../assets/fonts/Gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Thin";
    src: url("../assets/fonts/Gotham/Gotham-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Playfair Display Regular";
    src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Semi Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

:root{

    /* margins & padding */
    --nav-menu-button-margin-left: 1em;
    --nav-menu-button-margin-right: 1em;
    --nav-menu-button-padding: 0.5em;

    --site-page-margin-bot-h1: 0.5em;
    --site-page-margin-bot-h2: 0.5em;

    --page-button-margin: 1em;

    --box-shadow-spread: 10px;

    /* font sizes */
    --site-page-font-size-h1: 5em;
    --site-page-font-size-h2: 3em;

    --page-section-title: 2em; 

    --nav-menu-button-font-size: 2em;
    --page-button-font-size: 1em;

    --font-size-copyright: x-small;

    /* font families */
    --font-headings: "Gotham Light"; /*selected*/
    --font-button: "Gotham Light"; 
    --font-accent: "Playfair Display Regular";
    --font-text: "Playfair Display Regular";
    --font-copyright: "Helvetica", sans-serif;

    --font-family-1: "Gotham Bold";
    --font-family-3: "Gotham Thin";
    --font-family-5: "Montserrat Regular";
    --font-family-6: "Lato Regular";
    --font-family-7: "Roboto Regular";
    --font-family-8: "Open Sans Regular";

    /* colors */
    --primary-background-color-1: #3D6599;
    --primary-background-color-1-alpha-6: rgba(61, 101, 153, 0.6);
    --primary-background-color-1-alpha-8: rgba(61, 101, 153, 0.8);
    --primary-background-color-2: white;
    --accent-color-1: #FF6F40; /*sl 1*/
    --box-shadow-color-1: grey;

    --proficiency-a: #D5F5E3;
    --proficiency-b: #D6EAF8;
    --proficiency-c: #FDEBD0;

    --color-1: #ffb7af;
    --color-2: #D3F547;
    --color-3: #F5422F; /*sl 2*/
    --color-4: #1677F5;
    --color-5: #1856A8;
    --color-7: #00F5FF;
    --color-9: #CC2714;
    --color-10: #345175;
    --color-11: #09D4DB;
    --color-12: #E06741;
    --color-13: #A82518;

    /* project panel */
    --tag-background-color-1: #222222;
    --tag-background-color-2: white;
    --tag-font-color-1: #222222;
    --tag-font-color-2: white;

    --project-panel-title-font-size: 19pt;
    --project-panel-title-font: "Playfair Display Regular";

    /* Project pieces styles */

    --project-container-background-color: white;

    --font-title: "Montserrat Bold";
    --font-title-size: 28pt;
    --title-margin-block: 0.5em;
    --title-margin-left: 60px;

    --font-h1: "Montserrat Bold";
    --font-h1-size: 19pt;
    --h1-margin-block: 0.5em;
    --h1-margin-left: 60px;

    --font-h2: "Montserrat Semi Bold";
    --font-h2-size: 15pt;
    --h2-margin-top: 1em;
    --h2-margin-bot: 0.5em;
    --h2-margin-left: 60px;

    --font-text-project: "Georgia";
    --font-text-size: 15pt;
    --text-margin-top: 0.5em;
    --text-margin-bot: 1em;
    --text-margin-left: 60px;
    --text-margin-right: 12em;
    --text-line-height: 2;

    --font-caption: "Georgia";
    --font-caption-size: 12pt;
    --caption-margin-top: 0.5em;
    --caption-margin-bot: 1em;

    --fig-border-color: #222222;

}