@font-face {
    font-family: "Gotham Bold";
    src: url("../assets/fonts/Gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Light";
    src: url("../assets/fonts/Gotham/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Thin";
    src: url("../assets/fonts/Gotham/Gotham-Thin.otf") format("opentype");
}

@font-face {
    font-family: "Playfair Display Regular";
    src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Semi Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lato Regular";
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Thin";
    src: url("../assets/fonts/Inter/Inter-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Semi Bold";
    src: url("../assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Regular";
    src: url("../assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Medium";
    src: url("../assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Light";
    src: url("../assets/fonts/Inter/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Extra Light";
    src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Extra Bold";
    src: url("../assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Black";
    src: url("../assets/fonts/Inter/Inter-Black.ttf") format("truetype");
}

:root{

    /* margins & padding */
    --nav-menu-button-margin-left: 1em;
    --nav-menu-button-margin-right: 1em;
    --nav-menu-button-padding: 0.5em;

    --site-page-margin-top-h1: 0.2em;
    --site-page-margin-top-h1-mobile: 0.25em;

    --site-page-margin-bot-h1: 0.3em;
    --site-page-margin-bot-h1-mobile: 0.25em;
    --site-page-margin-bot-h2: 0.5em;

    --page-button-margin: 1em;
    --page-button-margin-mobile: 0.5em;

    --box-shadow-spread: 10px;

    /* font sizes */
    --site-page-font-size-h1: 5em;
    --site-page-font-size-h2: 3em;

    --page-section-title: 2em;
    --page-section-title-mobile: 1.5em; 

    --nav-menu-button-font-size: 2em;
    --page-button-font-size: 1em;

    --font-size-copyright: x-small;
    --font-size-copyright-mobile: small;

    /* font families */
    --font-headings: "Gotham Light"; /*selected*/
    --font-button: "Gotham Light"; 
    --font-accent: "Gotham Light"; /*"Playfair Display Regular";*/
    --font-text: "Playfair Display Regular";
    --font-copyright: "Helvetica", sans-serif;
    --font-intro: "Gotham Light";

    --font-family-1: "Gotham Bold";
    --font-family-3: "Gotham Thin";
    --font-family-5: "Montserrat Regular";
    --font-family-6: "Lato Regular";
    --font-family-7: "Roboto Regular";
    --font-family-8: "Open Sans Regular";

    /* font colors */
    --font-intro-color-1: #111111;
    --font-intro-color-2: #FF6F40;
    --font-intro-color-3: #333333;
    --font-intro-color-4: #1677F5;
    --font-intro-color-5: #1856A8;

    /* colors */
    --primary-background-color-nav: #212121;
    --primary-background-color-foot: #212121;

    --primary-background-color-1: #3D6599;
    --primary-background-color-1-alpha-6: rgba(61, 101, 153, 0.6);
    --primary-background-color-1-alpha-8: rgba(61, 101, 153, 0.8);
    --primary-background-color-2: #efefef; /*white*/
    --accent-color-1: #FF6F40; /*sl 1*/
    --box-shadow-color-1: grey;

    --primary-container-border: #212121;
    --primary-inner-background-container: #212121;
    --primary-inner-background-container-alpha-8: rgba(33, 33, 33, 0.8);

    --color-h1: #212121;
    --color-h2: #212121;

    --proficiency-a: #D5F5E3;
    --proficiency-b: #D6EAF8;
    --proficiency-c: #FDEBD0;

    --color-1: #ffb7af;
    --color-2: #D3F547;
    --color-3: #F5422F; /*sl 2*/
    --color-4: #1677F5;
    --color-5: #1856A8;
    --color-7: #00F5FF;
    --color-9: #CC2714;
    --color-10: #345175;
    --color-11: #09D4DB;
    --color-12: #E06741;
    --color-13: #A82518;

    /* background pastel colors */
    --bg-border-1: white;
    --bg-border-2: #222222;
    --bg-color-white-1: white;
    --bg-color-white-2: #FAF9F6;
    --bg-color-white-3: #F9F6EE;
    --bg-color-1: #edf2fb;
    --bg-color-2: #d7e3fc;
    --bg-color-3: #ccdbfd;
    --bg-color-4: #c1d3fe;
    --bg-color-5: #abc4ff;
    --bg-color-6: #d1d1d1;
    --bg-color-7: #e1dbd6;
    --bg-color-8: #e2e2e2;
    --bg-color-9: #f9f6f2;
    --bg-color-10: #ffc09f;
    --bg-color-11: #a0ced9;
    --bg-color-12: #809bce;
    --bg-color-13: #95b8d1;
    --bg-color-14: #fff1e6;
    --bg-color-15: #f0efeb;
    --bg-color-16: #daeaf6;
    --bg-color-17: #d1cfe2;
    --bg-color-18: #d3ab9e;
    --bg-color-19: #eac9c1;
    --bg-color-20: #ebd8d0;
    --bg-color-21: #ffdab9;
    --bg-color-22: #E81B23;
    --bg-color-23: #E81B2330;
    --bg-color-24: #EC7063;
    --bg-color-25: #EC706330;
    --bg-color-26: #00AEF3;
    --bg-color-27: #00AEF330;
    --bg-color-28: #5DADE2;
    --bg-color-29: #5DADE230;
    --bg-color-30: #DAA520;
    --bg-color-31: #DAA52030;
    --bg-color-32: #F4D03F;
    --bg-color-33: #F4D03F30;
    --bg-color-34: #C7DBE7;
    --bg-color-35: #C0392B;

    /* project panel */
    --tag-background-color-1: #222222;
    --tag-background-color-2: white;
    --tag-font-color-1: #222222;
    --tag-font-color-2: white;
    --tag-font-color-3: #FF6F40;

    --project-panel-title-font-size: 15pt;
    --project-panel-title-font: "Playfair Display Regular";

    /* Project pieces styles */

    --project-container-background-color: white;

    --font-title: "Montserrat Bold";
    --font-title-size: 28pt;
    --title-margin-block: 0.5em;
    --title-margin-left: 60px;
    --title-margin-block-mobile: 0.1em;
    --title-margin-inline-mobile: 0.1em;

    --font-h1: "Montserrat Bold";
    --font-h1-size: 19pt;
    --h1-margin-block: 0.5em;
    --h1-margin-left: 60px;
    --h1-margin-block-mobile: 0.1em;
    --h1-margin-inline-mobile: 0.1em;

    --font-h2: "Montserrat Semi Bold";
    --font-h2-size: 15pt;
    --h2-margin-top: 1em;
    --h2-margin-bot: 0.5em;
    --h2-margin-left: 60px;
    --h2-margin-top-mobile: 0.5em;
    --h2-margin-bot-mobile: 0.25em;
    --h2-margin-inline-mobile: 0.1em;

    --font-h3: "Montserrat Medium";
    --font-h3-size: 15pt;
    --h3-margin-top: 1em;
    --h3-margin-bot: 0.5em;
    --h3-margin-left: 60px;
    --h3-margin-top-mobile: 0.5em;
    --h3-margin-bot-mobile: 0.25em;
    --h3-margin-inline-mobile: 0.1em;

    --font-text-project: "Georgia";
    --font-text-size: 15pt;
    --text-margin-top: 0.5em;
    --text-margin-bot: 1em;
    --text-margin-left: 60px;
    --text-margin-right: 12em;
    --text-line-height: 2;
    --font-text-size-mobile: 12pt;
    --text-margin-top-mobile: 0.5em;
    --text-margin-bot-mobile: 0.25em;
    --text-margin-inline-mobile: 0.1em;
    --text-line-height-mobile: 2;

    --font-caption: "Georgia";
    --font-caption-size: 12pt;
    --caption-margin-top: 0.5em;
    --caption-margin-bot: 1em;

    --fig-border-color: #222222;

}