:root{
    --nav-menu-button-font-size: 2em;
    --nav-menu-button-margin-left: 1em;
    --nav-menu-button-margin-right: 1em;
    --nav-menu-button-padding: 0.5em;

    --site-page-font-size-h1: 5em;
    --site-page-font-size-h2: 3em;

    --site-page-margin-bot-h1: 0.5em;
    --site-page-margin-bot-h2: 0.5em;

    --color-1: #ffb7af;
    --color-2: #D3F547;
    --color-3: #F5422F; /*sl 2*/
    --color-4: #1677F5;
    --color-5: #1856A8;

    --background-color-1: #3D6599;
    --color-7: #00F5FF;
    --color-8: #FF6F40; /*sl 1*/
    --color-9: #CC2714;

    --color-10: #345175;
    --color-11: #09D4DB;
    --color-12: #E06741;
    --color-13: #A82518;

    --color-14: #002FA7;
    --color-15: #F28018;
    --color-16: #A65308;
    --color-17: #F2DF18;
    --color-18: #A69808;

    --color-19: #092059;
    --color-20: #A62C11;
    --color-21: #6BA611;
    --color-22: #385904;

    --color-23: #4716D9;
    --color-24: #231A40;
    --color-25: #B17D2C;
    --color-26: #D97216;

}