@import "./navigation_menu.css";
@import "./footer.css";

@media (min-width: 1200px) {

    body {
        background-color: var(--primary-background-color-2);
    }
    
    .filter-buttons-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .filter-button{
        border: 0.08em solid black;
        padding: 0.5em;
        margin: var(--page-button-margin);
        font-size: var(--page-button-font-size);
        font-family: var(--font-button);
        /* border-radius: 1.5em;
        box-shadow: 0 0 3px #333333; */
        /* border: none; */
        background: var(--primary-background-color-2);
        border-radius: 0.5rem;
        color: #333333;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                    -6px -6px 10px rgba(255, 255, 255, .5),
                    6px 6px 8px rgba(255, 255, 255, .075),
                    6px 6px 10px rgba(0, 0, 0, .15);
    }
    
    .filter-button:hover {
        cursor: pointer;
        border-color: var(--accent-color-1);
        /* color: var(--primary-background-color-1); */
        color: #333333;
        box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                    -2px -2px 4px rgba(255, 255, 255, .4),
                    2px 2px 2px rgba(255, 255, 255, .05),
                    2px 2px 4px rgba(0, 0, 0, .1);
    }
    
    .filter-button-selected {
        border-color: var(--accent-color-1);
        /* background-color: var(--primary-background-color-1); */
        /* color: var(--primary-background-color-2); */
        color: var(--primary-background-color-1);
        /* box-shadow: inset 0 0 2px white; */
        box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                    inset -2px -2px 4px rgba(255, 255, 255, .5),
                    inset 2px 2px 2px rgba(255, 255, 255, .075),
                    inset 2px 2px 4px rgba(0, 0, 0, .15);
    }

    .filter-button-selected:hover {
        /* color: var(--primary-background-color-2); */
        /* color: #333333; */
        color: var(--primary-background-color-1);
    }
    
    .portfolio-pieces-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .portfolio-piece-box {
        width: 25vw;
        height: 25vw;
        border: 0.1em solid var(--primary-background-color-1);
        margin: 1em;
        z-index: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        box-sizing: border-box;
        box-shadow: 0px 0px var(--box-shadow-spread) var(--primary-background-color-1-alpha-6);
    }
    
    .inner{
        display: block;
        width: 25vw;
        height: 3vh;
        text-align: center;
        padding-bottom: 1.5em;
        padding-top: 0.5em;
        background-color: var(--primary-background-color-1-alpha-8);
        transition: background-color 0.3s ease, height 0.3s ease;
        font-family: var(--font-headings);
    }
    
    .project-title {
        display: block;
        margin-top: 0.75em;
        color: var(--primary-background-color-2);
    }
    
    .project-domain{
        margin-top: 1em;
        font-family: var(--font-headings);
    }
    
    .portfolio-piece-box:hover {
        border-color: var(--accent-color-1);
        border-width: 0.1em;
        box-shadow: 0px 0px 10px var(--accent-color-1);
    }
    
    .portfolio-piece-box:hover .inner {
        width: 25vw;
        height: 8vh;
        background-color: var(--primary-background-color-1);
        color: var(--primary-background-color-2);
        text-align: center;
    }

}

@media (max-width: 1199px) {

    body {
        background-color: var(--primary-background-color-2);
    }

    .filter-buttons-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .filter-button{
        border: 0.08em solid black;
        padding: 0.5em;
        text-align: center;
        margin: var(--page-button-margin-mobile);
        font-size: var(--page-button-font-size);
        font-family: var(--font-button);

        background: var(--primary-background-color-2);
        border-radius: 0.5rem;
        color: #333333;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                    -6px -6px 10px rgba(255, 255, 255, .5),
                    6px 6px 8px rgba(255, 255, 255, .075),
                    6px 6px 10px rgba(0, 0, 0, .15);
    }
    
    .filter-button:hover {
        cursor: pointer;
        border-color: var(--accent-color-1);
        color: #333333;
        box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                    -2px -2px 4px rgba(255, 255, 255, .4),
                    2px 2px 2px rgba(255, 255, 255, .05),
                    2px 2px 4px rgba(0, 0, 0, .1);
    }
    
    .filter-button-selected {
        border-color: var(--accent-color-1);
        /* background-color: var(--primary-background-color-1); */
        /* color: var(--primary-background-color-2); */
        color: var(--primary-background-color-1);
        box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                    inset -2px -2px 4px rgba(255, 255, 255, .5),
                    inset 2px 2px 2px rgba(255, 255, 255, .075),
                    inset 2px 2px 4px rgba(0, 0, 0, .15);
    }
    
    .portfolio-pieces-container{
        display: flex;
        flex-direction: column;
    }
    
    .portfolio-piece-box {
        width: 75vw;
        height: 75vw;
        border: 0.1em solid var(--primary-background-color-1);
        margin-inline: auto;
        margin-block: 1em;
        z-index: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        box-sizing: border-box;
        box-shadow: 0px 0px var(--box-shadow-spread) var(--primary-background-color-1-alpha-6);
    }
    
    .inner{
        display: block;
        width: 75vw;
        height: 3vh;
        text-align: center;
        padding-bottom: 1.5em;
        padding-top: 0.5em;
        background-color: var(--primary-background-color-1-alpha-8);
        transition: background-color 0.3s ease, height 0.3s ease;
        font-family: var(--font-headings);
    }
    
    .project-title {
        display: block;
        margin-top: 0.75em;
        font-size: 0.8em;
        color: var(--primary-background-color-2);
    }
    
    .project-domain{
        margin-top: 1em;
        font-size: 0.8em;
        font-family: var(--font-headings);
    }
    
    .portfolio-piece-box:hover {
        border-color: var(--accent-color-1);
        border-width: 0.1em;
        box-shadow: 0px 0px 10px var(--accent-color-1);
    }
    
    .portfolio-piece-box:hover .inner {
        width: 75vw;
        height: 8vh;
        background-color: var(--primary-background-color-1);
        color: var(--primary-background-color-2);
        text-align: center;
    }

}

#home-intro {
    width: 82vw;
    font-family: var(--font-text);
    font-size: 11pt;
    margin-inline: auto;
}

#project-1 {
    background-image: url("../assets/thumbnails/us-congress-fall22.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-2 {
    background-image: url("../assets/thumbnails/pfch-mid-sp22.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-3 {
    background-image: url("../assets/thumbnails/watchlist-sp23.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-4 {
    background-image: url("../assets/thumbnails/nytm-info-arch-fall23.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-5 {
    background-image: url("../assets/thumbnails/nyc-ddc-product-design-sp23-5.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-6 {
    background: url("../assets/thumbnails/seminar-paper-foundations-sp22.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-7 {
    background: url("../assets/thumbnails/got-networks-sum22.png");
    background-size: contain;
    background-repeat: no-repeat;
}