@import "./navigation_menu.css";
@import "./footer.css";

@media (min-width: 1200px) {

    body {
        background-color: var(--primary-background-color-2);
    }

    .home-intro {
        width: 73vw;
        height: fit-content;
        margin-left: 6vw;
        margin-right: auto;
        border: 0.1em solid black;
        padding: 1em;
        border-radius: 2rem 2rem 2rem 0rem;
    }
    
    .filter-buttons-container {
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .filter-button{
        border: 0.08em solid black;
        padding: 0.5em;
        margin: var(--page-button-margin);
        font-size: var(--page-button-font-size);
        font-family: var(--font-button);
        background: var(--primary-background-color-2);
        border-radius: 0.5rem;
        color: #333333;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    
    .filter-button:hover {
        cursor: pointer;
        border-color: var(--accent-color-1);
        color: #333333;
    }
    
    .filter-button-selected {
        border-color: var(--accent-color-1);
        color: var(--color-4);
    }
    
    .portfolio-pieces-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 0.8em;
    }
    
    .portfolio-piece-box {
        width: 25vw;
        height: 25vw;
        border: 0.1em solid var(--primary-container-border);
        border-radius: 3em;
        margin: 1em;
        z-index: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        box-sizing: border-box;
    }
    
    .inner{
        display: block;
        width: 22vw;
        height: 3vh;
        text-align: center;
        padding-bottom: 1.5em;
        padding-top: 0.5em;
        margin-bottom: 2em;
        border-radius: 2em;
        background-color: var(--primary-inner-background-container-alpha-8);
        transition: background-color 0.3s ease, height 0.3s ease;
        font-family: var(--font-headings);
    }
    
    .project-title {
        display: block;
        margin-top: 0.75em;
        color: var(--primary-background-color-2);
    }
    
    .project-domain{
        margin-top: 1em;
        font-family: var(--font-headings);
    }
    
    .portfolio-piece-box:hover {
        border-width: 0.1em;
        cursor: pointer;
    }
    
    .portfolio-piece-box:hover .inner {
        height: 7vh;
        background-color: var(--primary-inner-background-container);
        color: var(--primary-background-color-2);
        text-align: center;
    }

}

@media (max-width: 1199px) {

    body {
        background-color: var(--primary-background-color-2);
    }

    .home-intro {
        width: 73vw;
        height: fit-content;
        margin-inline: auto;
        border: 0.1em solid black;
        padding: 1em;
        border-radius: 2rem 2rem 2rem 0rem;
    }

    .filter-buttons-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .filter-button{
        border: 0.08em solid black;
        padding: 0.5em;
        text-align: center;
        margin: var(--page-button-margin-mobile);
        font-size: var(--page-button-font-size);
        font-family: var(--font-button);

        background: var(--primary-background-color-2);
        border-radius: 0.5rem;
        color: #333333;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    
    .filter-button:hover {
        cursor: pointer;
        border-color: var(--accent-color-1);
        color: #333333;
    }
    
    .filter-button-selected {
        border-color: var(--accent-color-1);
        color: var(--color-4);
    }
    
    .portfolio-pieces-container{
        display: flex;
        flex-direction: column;
    }
    
    .portfolio-piece-box {
        width: 75vw;
        height: 75vw;
        border: 0.1em solid var(--primary-container-border);
        border-radius: 3em;
        margin-inline: auto;
        margin-block: 1em;
        z-index: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        box-sizing: border-box;
    }
    
    .inner{
        display: block;
        width: 70vw;
        height: 4vh;
        text-align: center;
        padding-bottom: 1.5em;
        padding-top: 0.5em;
        margin-bottom: 2em;
        border-radius: 2em;
        background-color: var(--primary-inner-background-container-alpha-8);
        transition: background-color 0.3s ease, height 0.3s ease;
        font-family: var(--font-headings);
    }
    
    .project-title {
        display: block;
        margin-top: 0.75em;
        font-size: 1.5em;
        color: var(--primary-background-color-2);
    }
    
    .project-domain{
        margin-top: 1em;
        font-size: 1.5em;
        font-family: var(--font-headings);
    }
    
    .portfolio-piece-box:hover {
        border-width: 0.1em;
        cursor: pointer;
    }
    
    .portfolio-piece-box:hover .inner {
        width: 70vw;
        height: 10vh;
        background-color: var(--primary-inner-background-container);
        color: var(--primary-background-color-2);
        text-align: center;
    }

}

#home-intro-l1 {
    font-size: 3em;
    font-family: var(--font-intro);
    color: var(--font-intro-color-1);
    margin-block: 0.3em;
}

#home-intro-l2 {
    font-size: 3em;
    font-family: var(--font-intro);
    color: var(--font-intro-color-1);
    margin-block: 0.3em;
}

#intro-name {
    color: var(--font-intro-color-2);
}

#home-intro-l3 {
    font-size: 1.5em;
    font-family: var(--font-intro-text);
    color: var(--font-intro-color-3);
    margin-block: 0.5em;
}

.filter-button-selected:hover {
    color: var(--color-4);
}

#project-1 {
    background-image: url("../assets/thumbnails/us-congress-fall22-6.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-2 {
    background-image: url("../assets/thumbnails/pfch-mid-sp22.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-3 {
    background-image: url("../assets/thumbnails/watchlist-sp23.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-4 {
    background-image: url("../assets/thumbnails/nytm-info-arch-fall23-2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-5 {
    background-image: url("../assets/thumbnails/nyc-ddc-product-design-sp23-10.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-6 {
    background: url("../assets/thumbnails/seminar-paper-foundations-sp22.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#project-7 {
    background: url("../assets/thumbnails/got-networks-sum22.png");
    background-size: contain;
    background-repeat: no-repeat;
}