@import "./navigation_menu.css";
@import "./footer.css";

body {
    background-color: white;
}

.filter-buttons-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.filter-button{
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
    margin: 1em;
    font-size: 1em;
    font-family: var(--font-family-2);
}

.filter-button:hover {
    cursor: pointer;
    border-color: brown;
}

.portfolio-pieces-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.portfolio-piece-box {
    width: 25vw;
    height: 25vw;
    border-style: solid;
    border-width: 0.05em;
    margin: 1em;
    z-index: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    box-shadow: 0px 0px 10px grey;
}

.inner{
    display: block;
    width: 25vw;
    height: 5vh;
    text-align: center;
    padding-bottom: 1.5em;
    padding-top: 0.5em;
    transition: background-color 0.5s ease, height 0.5s ease;
}

.project-thumbnail-title{
    margin-top: 2em;
}

.portfolio-piece-box:hover {
    border-color: var(--color-8);
    border-width: 0.05em;
    box-shadow: 0px 0px 10px var(--color-8);
}

.portfolio-piece-box:hover .inner {
    width: 25vw;
    height: 10vh;
    background-color: var(--background-color-1);
    /* border-radius: 2em 2em 0 0; */
    color: white;
    text-align: center;
}

#project-1, #project-2, #project-3, #project-4, #project-5, #project-6 {
    background: url("../assets/thumbnails/placeholder-image-square.jpg");
    background-size: contain;
}
