@import "./css_global_variables.css";

@media (min-width: 481px) {

    body {
        background-image: url(../assets/background/landingbg.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    #portfolio-domain-logo {
        width: 25vw;
        height: 25vw;
    }

}

@media (max-width: 480px) {

    #portfolio-domain-logo {
        width: 75vw;
        height: 75vw;
    }

}

body {
    background-color: var(--primary-background-color-2);
}

#portfolio-domain-logo {
    background-image: url(../assets/logo/Portfolio-Domains-Logo-a.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-inline: auto;
    margin-top: 5em;
    margin-bottom: 0.25em;
}

#enter-button {
    width: 8em;
    height: 5vh;
    border: 1px solid black;
    border-radius: 1.5em;
    text-align: center;
    margin-inline: auto;
    margin-top: 0.25em;
    margin-bottom: 1em;
    transition: width 0.6s ease, background-color 0.6s ease;
    font-size: 1.5em;
    padding-top: 1.5vh;
    font-family: var(--font-button);
    color: black;
}

#enter-button:hover {
    width: 8em;
    background-color: var(--primary-background-color-1);
    color: var(--accent-color-1);
}

#enter-button-link-wrapper {
    width: fit-content;
    color: var(--primary-background-color-2);
    text-decoration: none;
    margin-inline: auto;
}

.logo-screen {
    width:155px;
    height: 60px;
    fill: var(--accent-color-1);
    margin-block: auto;
    background-image: url(../assets/logo/Portfolio-Logo-MrsSD-Black-ini.svg.svg);
    background-size: cover;
    margin-inline: auto;
    margin-top: 3em;
}