@import "./css_global_variables.css";

@media (min-width: 1200px) {

    .nav-menu-container {
        display: flex;
        font-size: var(--nav-menu-button-font-size);
        background-color: var(--primary-background-color-nav);
        margin-top: 0px;
        margin-bottom: 1em;
        border: 0.05em solid black;
        border-radius: 1em;
        padding-block: 0.5em;
    }
    
    .nav-logo {
        flex: 1;
        width:230px;
        height: 60px;
        margin-inline: 1em;
        margin-block: auto;
        background-image: url(../assets/logo/Portfolio-Logo-MrsSD-White-Full.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .nav-links {
        text-decoration: none;
        color: var(--nav-buttons);
    }

    #mobile-menu {
        display: none;
    }
    
    .nav-menu-button-container {
        flex: 9;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .nav-menu-button {
        padding: var(--nav-menu-button-padding);
        margin-left: var(--nav-menu-button-margin-left);
        margin-right: var(--nav-menu-button-margin-right);
        font-family: var(--font-button);
    }
    
    .nav-menu-selected {
        color: var(--nav-buttons-selected);
    }
    
    h1 {
        text-align: center;
        font-size: var(--site-page-font-size-h1);
        margin-top: var(--site-page-margin-top-h1);
        margin-bottom: var( --site-page-margin-bot-h1);
        color: var(--color-h1);
        font-family: var(--font-accent);
    }

}

@media (max-width: 1199px) {
    
    .nav-menu-container {
        display: flex;
        flex-direction: column;
        font-size: var(--nav-menu-button-font-size);
        background-color: var(--primary-background-color-nav);
        margin-top: 0px;
        margin-bottom: 1em;
        border: 0.05em solid black;
        border-radius: 1em;
        padding-block: 0.5em;
    }

    .nav-logo {
        width:230px;
        height: 60px;
        fill: var(--accent-color-1);
        margin-inline: auto;
        margin-block: 1em;
        background-image: url(../assets/logo/Portfolio-Logo-MrsSD-White-Full.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav-links {
        text-decoration: none;
        color: var(--nav-buttons);
        text-align: center;
    }

    .mobile-menu-closed {
        content: url(../assets/icons/mobile_menu/hamburger_menu_white.svg);
        display: block;
        width: 50px;
        height: 50px;
        margin-inline: auto;
    }

    .mobile-menu-open {
        content: url(../assets/icons/mobile_menu/menu_close_cross_white.svg);
        display: block;
        width: 50px;
        height: 50px;
        margin-inline: auto;
    }

    .nav-menu-button-container{
        display: none;
        flex-direction: column;
    }

    .nav-menu-button {
        padding: var(--nav-menu-button-padding);
        margin-left: var(--nav-menu-button-margin-left);
        margin-right: var(--nav-menu-button-margin-right);
        font-family: var(--font-button);
        margin-block: 0.25em;
    }

    .nav-menu-selected {
        color: var(--nav-buttons-selected);
    }
    
    h1 {
        text-align: center;
        font-size: var(--site-page-font-size-h1);
        margin-top: var( --site-page-margin-top-h1-mobile);
        margin-bottom: var( --site-page-margin-bot-h1-mobile);
        color: var(--color-h1);
        font-family: var(--font-accent);
    }

}