@import "./navigation_menu.css";
@import "./footer.css";

@media (min-width: 813px) {

    .skills-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .skill-section {
        display: flex;
        flex-direction: column;
        border: 0.1em solid black;
        border-radius: 1.5em;
        padding: 1em;
        width: 25vw;
        box-shadow: 0px 0px var(--box-shadow-spread) var(--box-shadow-color-1);
    }

    .skill-set {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-inline: auto;
        font-family: var(--font-text);
    }

    .skill-packet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .text-achor {
        display: none;
        width: 0.25em;
        height: 1.5em;
        background-color: black;
        margin-right: 0.5em;
    }

    .skill-item{
        width: 15vw;
        margin-block: auto;
        border: 0.1em solid black;
        border-radius: 1em;
        padding: 0.25em;
        text-align: center;
        margin-block: 0.1em;
    }

    .tool-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-block: 1em;
    }

    .tool-section-tile {
        font-size: 1.25em;
        margin-block: auto;
        margin-inline: 0.5em;
    }

    .tool-proficiency-packet {
        border: 0.1em solid black;
        border-radius: 1.5em;
        width: 20vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0.5em;
        margin-inline: 1em;
    }

}

@media (max-width: 812px) {

    .skills-container {
        display: flex;
        flex-direction: column;
    }

    .skill-section {
        margin-block: 1em;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        border: 0.1em solid black;
        border-radius: 1.5em;
        padding: 1em;
        width: 75vw;
        box-shadow: 0px 0px var(--box-shadow-spread) var(--box-shadow-color-1);
    }

    .skill-set {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-inline: auto;
        font-family: var(--font-text);
    }

    .skill-packet {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .text-achor {
        display: none;
        width: 0.25em;
        height: 1.5em;
        background-color: black;
        margin-right: 0.5em;
    }

    .skill-item{
        width: 60vw;
        margin-block: auto;
        border: 0.1em solid black;
        border-radius: 1em;
        padding: 0.25em;
        text-align: center;
        margin-block: 0.1em;
    }

    .tool-section {
        display: flex;
        flex-direction: column;
        margin-block: 1em;
    }

    .tool-section-tile {
        font-size: 1.25em;
        margin-block: auto;
        margin-inline: 0.5em;
        text-align: center;
    }

    .tool-proficiency-packet {
        border: 0.1em solid black;
        border-radius: 1.5em;
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0.5em;
        margin-inline: auto;
        margin-block: 0.5em;
    }

}

body {
    background-color: var(--primary-background-color-2);
}

.skill-section-title, .tools-title{
    font-size: var(--page-section-title);
    margin-bottom: 1em;
    text-align: center;
    font-family: var(--font-headings);
}

.tools-container {
    width: 91vw;
    border: 0.1em solid black;
    border-radius: 1.5em;
    margin-inline: auto;
    margin-top: 2em;
    font-family: var(--font-text);
    box-shadow: 0px 0px var(--box-shadow-spread) var(--box-shadow-color-1);
}

.tools-section-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.tools-title {
    margin-top: 1em;
}

.tool-item-packet {
    margin: 0.5em;
}

.tool-item-image {
    display: block;
    width: 50px;
    height: 50px;
    border: 0.01em solid black;
    margin-inline: auto;
    background-color: var(--primary-background-color-2);
}

.tool-name {
    text-align: center;
}

.proficiency-advanced {
    background-color: var(--proficiency-a);
}

.proficiency-intermediate {
    background-color: var(--proficiency-b);
}

.proficiency-familiar {
    background-color: var(--proficiency-c);
} 
